<div class="modal-header">
  <h4 class="modal-title pull-left">Tell us more about yourself</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="exampleFormControlSelect1">What's your age group?</label>
      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="selectedAge" name="selectOne">
        <option *ngFor="let val of ageList" [value]="val.key">{{val.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">What kind of trip are you going on next?</label>
      <select class="form-control" id="exampleFormControlSelect2" [(ngModel)]="selectedTrip" name="selectTwo">
        <option *ngFor="let val of tripList" [value]="val.key">{{val.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect3">Do you have accommodation ready for the next trip?</label>
      <select class="form-control" id="exampleFormControlSelect3" [(ngModel)]="selectedStay" name="selectThree">
        <option *ngFor="let val of stayList" [value]="val.key">{{val.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect4">Do you enjoy art and museums?</label>
      <select class="form-control" id="exampleFormControlSelect4" [(ngModel)]="selectedCultural" name="selectFour">
        <option *ngFor="let val of culturalList" [value]="val.key">{{val.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect5">Are you a sports person?</label>
      <select class="form-control" id="exampleFormControlSelect5" [(ngModel)]="selectedSport" name="selectFive">
        <option *ngFor="let val of sportList" [value]="val.key">{{val.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect6">Do you travel for pilgrimage?</label>
      <select class="form-control" id="exampleFormControlSelect6" [(ngModel)]="selectedReligious" name="selectSix">
        <option *ngFor="let val of religiousList" [value]="val.key">{{val.value}}</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="submit()">Submit</button>
</div>