<div class="modal-header">
  <h4 class="modal-title pull-left">Tell us more about yourself</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Dropdown 1</label>
      <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="selectedOptionOne" name="selectOne">
        <option *ngFor="let val of selectList" [value]="val.key">{{val.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Dropdown 2</label>
      <select class="form-control" id="exampleFormControlSelect2" [(ngModel)]="selectedOptionTwo" name="selectTwo">
        <option *ngFor="let val of selectListTwo" [value]="val.key">{{val.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect3">Dropdown 3</label>
      <select class="form-control" id="exampleFormControlSelect3" [(ngModel)]="selectedOptionThree" name="selectThree">
        <option *ngFor="let val of selectListThree" [value]="val.key">{{val.value}}</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="submit()">Submit</button>
</div>