<div class="dashboard__navbar">
  <div class="dashboard__navbar_title">Tourist Web Assistant</div>
  <div class="dashboard__navbar_toolbar">
    <div class="dashboard__navbar_search-container">
      <input type="text" class="form-control dashboard__navbar_search" placeholder="Search country" aria-label="Search country">
      <div class="dashboard__navbar_search-icon">
        <i class="fas fa-search"></i>
      </div>
    </div>
    <div class="dashboard__navbar_user-group dropdown">
      <div class="dashboard__navbar_user" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="dashboard__navbar_picture" height="{{profile_picture?.height}}" width="{{profile_picture?.width}}" src="{{profile_picture?.url}}">
        <div class="dashboard__navbar_greet">Welcome, {{name}}!</div>
      </div>
      <div class="dropdown-menu" id="dropdownItems" aria-labelledby="userDropdown">
        <div class="dropdown-item" (click)="logout()">Logout</div>
      </div>
    </div>
    <div class="dashboard__navbar_icon">
      <i class="fas fa-2x fa-plus"></i>
    </div>
    <div class="dashboard__navbar_icon" (click)="openSidebar()">
      <i *ngIf="sidebar_active" class="fas fa-2x fa-caret-right" style="margin-left: 0.2em"></i>
      <i *ngIf="!sidebar_active" class="fas fa-2x fa-caret-left" style="margin-right: 0.2em"></i>
    </div>
  </div>
</div>
<app-map></app-map>